---
const { text ="aceptar", isRounded = false } = Astro.props; 
---
    

<button class:list={
   ["bg-blue-400",
    "text-white",
    "rounded-lg",
    "px-2",
    "pt-1",
    "pb-2",
    "hover:bg-blue-500",
    "transition-color"
   
]}>
{text}

</button>