---
const {  isRounded = false } = Astro.props; 
---
    

<button class:list={
   ["bg-blue-400",
    "text-white",
    "rounded-lg",
    "px-2",
    "pt-1",
    "pb-2",
    "hover:bg-blue-500",
    "transition-colors"
   
]}
class = flex items-center h-20 mt-2">
<slot name ="text/>

</button>